/* universal selector */
* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    display: inline;
    text-decoration: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-float {
    clear: both;
}

