/* universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* element selectors */

/* styling of the link elements throughout the page */
a {
    text-decoration: none;
    color: white;
}

/* adds a hover element to the link elements throughout the page */
a:hover {
    color:darkmagenta;
}

/* styling of the unordered list in the navbar */
ul {
    padding: 30px 25px;
}

/* styling of the list items in the navbar */
ul li {
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 17px;
}

/* styles the header at the top that contains the heading and the navbar */
header {
    background-color: hotpink;
    width: 100%;
    height: 80px;
}

/* styles any primary headings */
header h1 {
    padding: 20px 25px;
    color: white;
}

/* styles any buttons throughout the page*/
button {
    background-color: hotpink;
    border: solid 2px white;
    margin-top: 20px;
    padding: 4px 15px;
    width: 150px;
}

/* styles any secondary headings */
main h2 {
    text-align: center;
    background-color: hotpink;
    width: 100%;
    height: 80px;
    color: white;
    padding: 25px
}

/* styles any image captions */
figcaption {
    font-size: 25px;
    background-color: pink;
    height: 40px;
    padding: 10px;
}

/* id selectors */

/*  */
#about {
    background-color: pink;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

/* styles the heading in the hero */
#about h2 {
    font-size: 45px;
    margin-bottom: 40px;
}

/* styles the description in the hero */
#about p {
    font-size: 30px;
    width: 90%;
}

/* styles the image in the hero */
#about img {
    margin: 50px;
    box-shadow: 10px 10px 5px hotpink;
    width:50%;
}

/* styles the "My Work" section and makes it a flexbox */
#work {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

/* class selectors */

/* styles the left side of the hero section */
.intro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 2%;
    width: 48%;
}

/* styles the image on the right side of the hero section */
.intro-img {
    width: 48%
}

/* styles each flex item in the "My Work" section */
.card {
    margin: 2%;
    text-align: center;
    border: solid 10px pink;
  }

  /* makes first flex item larger than the rest */
.first {
    width: 100%;
  }

  .second,
  .third,
  .fourth,
  .fifth {
    flex: 1 1 0;
  }

  /* styles the images in each card in the "My Work" section */
  .card img {
    width: 100%;
    min-width: 600px;
  }

  /* styles the "contact" section */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
  }

  /* styles the links in the "contact" section */
  .container a {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    padding: 15px;
  }

  /* gives the links in the "contact" section a hover element */
  .container a:hover {
    color: hotpink;
  }

  /* float elements for header and nav bar */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-float {
    clear: both;
}

@media screen and (max-width: 768px) {
    /* responsive design for medium-sized devices */

    /* changes the size of the primary header */
    header h1 {
        font-size: 25px;
        padding: 25px 30px 2px 25px;
    }

    /* changes the size of the unordered list items to fit smaller screen width */
    ul li {
        font-size: 14px;
    }
    
    /* gives button bigger margin */
    button {
        margin: 20px;
    }
    
    /* changes size of secondary heading in hero section */
    #about h2 {
        font-size: 40px;
        padding: 20px;
    }

    /* changes size of paragraph in hero section */
    #about p {
        font-size: 20px;
        padding: 20px;
    }

    /* changes left side of hero to take up entire row at this screen width */
    .intro {
        width: 98%;
    }

    /* changes right side of hero to take up entire row at this screen width */
    .intro-img {
        width: 98%;
    }

    /* changes min-width of images within each card */
    .card img {
        min-width: 300px;
    }

    /* changes size of links in contact section */
    .container a {
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {
    /* responsive design for small devices */

    /* makes the primary heading within the header smaller to fit small screen sizes */
    header h1 {
        font-size: 15px;
        padding: 30px 45px 2px 25px;
    }

    /* makes the unordered list items smaller to fit smaller screen sizes */
    ul li {
        font-size: 10px;
    }
}