/* universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* element selectors */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:darkmagenta;
}

ul {
    padding: 30px 25px;
}

ul li {
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 17px;
}

header {
    background-color: hotpink;
    width: 100%;
    height: 80px;
}

header h1 {
    padding: 20px 25px;
    color: white;
}

button {
    background-color: hotpink;
    border: solid 2px white;
    margin-top: 20px;
    padding: 4px 15px;
    width: 150px;
}

main h2 {
    text-align: center;
    background-color: hotpink;
    width: 100%;
    height: 80px;
    color: white;
    padding: 25px
}

figcaption {
    font-size: 25px;
    background-color: pink;
    height: 40px;
    padding: 10px;
}

/* id selectors */
#about {
    background-color: pink;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

#about h2 {
    font-size: 45px;
    margin-bottom: 40px;
}

#about p {
    font-size: 30px;
    width: 90%;
}

#about img {
    margin: 50px;
    box-shadow: 10px 10px 5px hotpink;
    width:50%;
}

#work {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

/* class selectors */
.intro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 2%;
    width: 48%;
}

.intro-img {
    width: 48%
}

.card {
    margin: 2%;
    text-align: center;
    border: solid 10px pink;
  }

  /* makes first flex item larger than the rest */
.first {
    width: 100%;
  }

  .second,
  .third,
  .fourth,
  .fifth {
    flex: 1 1 0;
  }

  .card img {
    width: 100%;
    min-width: 600px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
  }

  .container a {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    padding: 15px;
  }

  .container a:hover {
    color: hotpink;
  }

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-float {
    clear: both;
}

@media screen and (max-width: 768px) {
    /* responsive design for medium-sized devices */
    header h1 {
        font-size: 25px;
        padding: 25px 30px 2px 25px;
    }

    ul li {
        font-size: 14px;
    }
    
    button {
        margin: 20px;
    }
    
    #about h2 {
        font-size: 40px;
        padding: 20px;
    }

    #about p {
        font-size: 20px;
        padding: 20px;
    }

    .intro {
        width: 98%;
    }

    .intro-img {
        width: 98%;
    }

    .card img {
        min-width: 300px;
    }

    .container a {
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {
    /* responsive design for small devices */
    header h1 {
        font-size: 15px;
        padding: 30px 45px 2px 25px;
    }

    ul li {
        font-size: 10px;
    }
}